body {
    background-color: black;
    color: white;
    padding: 5px;
}

a {
    color: white  !important;
    text-decoration: none;
}

h1 {
    text-align: center;
}

#textus {
    margin-top: 4px;
    padding-top: 4px;
}

button {
    margin-top: 5px;
}

#githublogo {
    display: inline-block;
    width: 40px;
    margin-top: 4px;
}