body {
    background-color: black;
    color: white;
    padding: 5px;
}

a {
    color: white  !important;
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    color: rgb(80, 43, 138);
    
}

#textus {
    margin-top: 4px;
    padding-top: 4px;
}

button {
    margin-top: 5px;
}

#githublogo {
    display: inline-block;
    width: 40px;
    margin-top: 4px;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

